<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

</head>
<body>

<header th:insert="blocks/header :: header"></header>



<div class="album py-5 bg-light">
    <div name="col" class="container">
        <h4>Покупка недвижимости</h4>
        <a th:href="'/sort'" class="btn btn-success">Сортировка(по количеству комнат)</a>
        <br>

        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <div th:each="el : ${building}" class="border col p-4 d-flex flex-column position-static" >
                    <img src="../static/images/1.png" width="400" height="250" th:src="@{images/1.png}"/>
                    <h6 th:text="${el.type}"/>
                    <p>Адрес: <p th:text="${el.address}"/>
                    Тип  стен: <p th:text="${el.walls}"/>
                    ID продовца: <p th:text="${el.id_Seller}"/>
                    Цена, BYN: <p th:text="${el.price}"/>
                    Площадь: <p th:text="${el.space}"/>
                    Количество комнат: <p th:text="${el.rooms}"/></p>
                </div>
            </div>
        </div>

    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>

</body>
</html>