<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

</head>
<body>

<header>
  <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <img src="../static/images/logo.png" width="50" height="50" th:src="@{images/logo.png}"/>
      <span class="fs-4">НЕДВИЖИМОСТЬ</span>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <tr th:each="el : ${users}">

        <a class="me-3 py-2 text-dark text-decoration-none" th:href="'/u/' + ${el.id_Users}">Главная страница</a>
        <a class="me-3 py-2 text-dark text-decoration-none" th:href="'/buyU/'+ ${el.id_Users}">Покупка</a>
        <a class="me-3 py-2 text-dark text-decoration-none" th:href="'/sellU/' + ${el.id_Users}">Продажа</a>
        <a class="me-3 py-2 text-dark text-decoration-none" th:href="'/rentU/' + ${el.id_Users}">Аренда</a>
        <a class="me-3 py-2 text-dark text-decoration-none" th:href="'/sellerU/' + ${el.id_Users}">Риелторы</a>
        <a class="me-3 py-2 text-dark text-decoration-none" th:href="'/infoU/' + ${el.id_Users}">Информация</a>
        <a class="me-3 py-2 text-dark text-decoration-none" th:href="'/showU/'+ ${el.id_Users}">Сведения о операциях</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Выход из аккаунта</a>

    </nav>
  </div>
</header>

<div class="album py-5 bg-light">
  <div name="col" class="container">
    <h4>Заявки на покупку/аренду недвижимости</h4>
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <div th:each="el : ${proposals}" class="border col p-4 d-flex flex-column position-static" >

          <table>
            <tr>
              <td>ID:</td>
              <td>ID недвижимости:</td>
              <td>ID пользователя:</td>
              <td>Фамилия:</td>
              <td>Имя:</td>
              <td>Отчество:</td>
              <td>Номер телефона:</td>
            </tr>
            <tr>
              <td><p th:text="${el.id_Proposal}"/></td>
              <td><p th:text="${el.id_building}"/></td>
              <td><p th:text="${el.id_Users}"/></td>
              <td><p th:text="${el.sNameP}"/></td>
              <td><p th:text="${el.fNameP}"/></td>
              <td><p th:text="${el.pNameP}"/></td>
              <td><p th:text="${el.phoneP}"/></p></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
<div th:insert="blocks/footer :: footer"></div>

</body>
</html>