<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="../static/images/logo.png" width="50" height="50" th:src="@{images/logo.png}"/>
            <span class="fs-4">НЕДВИЖИМОСТЬ</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная страница</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/buy">Покупка</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/rent">Аренда</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/seller">Риелторы</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/info">Информация</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/log">Вход в аккаунт</a>
        </nav>
    </div>
</div>