<div th:fragment="headerA">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="../static/images/logo.png" width="50" height="50" th:src="@{images/logo.png}"/>
            <span class="fs-4">НЕДВИЖИМОСТЬ</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/homeA">Главная страница</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/buyA">Покупка</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/sellA">Продажа</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/rentA">Аренда</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/sellerA">Риелторы</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/usrA">Пользователи</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/infoA">Информация</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/showA">Сведения о операциях</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Выход в аккаунт</a>
        </nav>
    </div>
</div>